MYSQL_DB=market_quiz_db
POSTGRES_DB=market_quiz_db


# Configuration

MYSQL_CONTAINER_NAME = quiz_mysql
MYSQL_USER=tarmana
MYSQL_PASSWORD=quiz
MYSQL_ROOT_PASSWORD=quiz
MYSQL_PORT=3306
MYSQL_PORT_HOST=2025


POSTGRES_CONTAINER_NAME = quiz_postgres
POSTGRES_USER=tarmana
POSTGRES_PASSWORD=quiz
POSTGRES_PORT=5432
POSTGRES_PORT_HOST=1945



API_USE_DOCKER=true
API_PORT=8080
API_PORT_HOST=8000

DEBUG==false
